body {
    font-family: Arial, sans-serif;
    background-color: #888;
    color: #fff;
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 1rem;
    background-color: #999;
    box-shadow: #222;
}

th, td {
    padding: 8px;
    font-family: monospace;
    font-size: 1.2rem;
    text-shadow: #222;
    -webkit-text-stroke: #222 0.001rem;
}

th{
    background-color: #777;
}
